*.mp4 filter=lfs diff=lfs merge=lfs -text
Documentación/PresentacionesJuego/CarCollisionGame/PresentacionCarCollisionGame.mp4 filter=lfs diff=lfs merge=lfs -text
Documentación/PresentacionesJuego/CarCollisionGame/PresentacionesExtended/EstructuraDeCarpetas.mp4 filter=lfs diff=lfs merge=lfs -text
Documentación/PresentacionesJuego/CarCollisionGame/PresentacionesExtended/GithubRepos.mp4 filter=lfs diff=lfs merge=lfs -text
Documentación/PresentacionesJuego/CarCollisionGame/PresentacionesExtended/JuegoYCodigo.mp4 filter=lfs diff=lfs merge=lfs -text
